/*


.logo {
  position: absolute;
  left: 226px;
  top: 54px;
  width: 385px;
  height: 84px;
  z-index: 13;
}
.csgo_bet {
  font-size: 61.649px;
  font-family: "Averta";
  color: rgb( 26, 29, 33 );
  font-weight: bold;
  text-transform: uppercase;
  line-height: 0.438;
  text-align: center;
  -moz-transform: matrix( 0.90340836350236, 0, 0, 0.90403085736346, 0, 0);
  -webkit-transform: matrix( 0.90340836350236, 0, 0, 0.90403085736346, 0, 0);
  position: absolute;
  left: 112px;
  top: -0.343px;
  width: 271px;
  height: 52px;
  z-index: 12;
}
.Shape_1663 {
  background-color: rgb( 45, 178, 240 );
  position: absolute;
  left: 40px;
  top: 40px;
  width: 41px;
  height: 41px;
  z-index: 11;
}
.Layer_1 {
  background-image: url("images/Layer 1.png");
  position: absolute;
  left: 30px;
  top: 26px;
  width: 54px;
  height: 58px;
  z-index: 10;
}
.Ellipse_2774 {
  background-color: rgb( 6, 86, 249 );
  position: absolute;
  left: 0px;
  top: 0px;
  width: 78px;
  height: 78px;
  z-index: 9;
}
.Shape_1664 {
  background-color: rgb( 6, 86, 249 );
  position: absolute;
  left: 2px;
  top: 4px;
  width: 74px;
  height: 74px;
  z-index: 8;
} */
